<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SESSION INFORMATION</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <!-- <div class="jumbotron"> -->
        <div class="mt-2 p-2 bg-light rounded">
            <ul>
                {% for key in session.keys() %}
                <li>{{ session[key]}}</li>
                {# A session basically makes it possible to remember information from one request to another. The way Flask does this is by using a signed cookie. #}
                {# So the user can look at the session contents, but not modify it unless they know the secret key #}
                {# https://flask.palletsprojects.com/en/0.12.x/api/#sessions #}
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>